.lead {
  max-width: 984px;
  margin: 56px auto 0;
  width: 100%;
}

@media screen and (max-width: 1024px) {
  .lead {
    margin: 48px auto 0;
  }
}

@media screen and (max-width: 768px) {
  .lead {
    margin: 48x auto 0;
  }
}

@media screen and (max-width: 320px) {
  .lead {
    margin: 48px auto 0;
  }
}
