.cover {
  max-width: 1184px;
  margin: 93px auto 0;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .cover {
    margin: 83px auto 0;
  }
}

@media screen and (max-width: 320px) {
  .cover {
    margin: 66px auto 0;
  }
}
