.cover__title {
  margin: 0 auto;
  max-width: 560px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  text-align: center;
  color: #fff;
  z-index: 1;
}

@media screen and (min-width: 321px) and (max-width: 566px) {
  .cover__title {
    font-size: 50px;
    line-height: 52px;
  }
}
@media screen and (max-width: 320px) {
  .cover__title {
    font-size: 32px;
    line-height: 35px;
  }
}
