.place {
  max-width: 984px;
  margin: 0;
  display: grid;
  gap: 48px 40px;
  grid-template-columns: auto auto;
}

@media screen and (max-width: 1024px) {
  .place {
    max-width: 928px;
    gap: 48px 32px;
  }
}

@media screen and (max-width: 768px) {
  .place {
    max-width: 720px;
    gap: 48px 28px;
  }
}
@media screen and (max-width: 650px) {
  .place {
    grid-template-columns: 1fr;
    gap: 32px 16px;
  }
}

@media screen and (max-width: 320px) {
  .place {
    gap: 32px 0;
  }
}
